/*
 * Combine.css
 * All custom styling should be placed here.
 *
 */
 
 body {
	padding-top: 50px;
}

#page-content-wrapper{
	padding-top: 100px;
}

.header h1{
	color: #fff;
}

#icon-menu{
	background: #000;
	margin-right: 20px;
	float: left;
}
#icon-menu a{
	color: #000;
}
.brand{
	text-align: center;
}

table {
	border-collapse: collapse;
	border: 1px solid #999;
}

table tr td, table tr th {
	padding: 5px;
}
